p, li{
    font-size: 17px;
    line-height: 2;
    letter-spacing: 1px;
}

h1{
    font-size: 65px;
    text-align: center;
}

#quote{
    font-style: italic; /*this makes text italic*/

}

.para{
    font-size: 25px;
    color: blue;

}

body{
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

html{
    background-color: #dcd1dd;
}
