p, li{
    font-size: 17px;
    line-height: 2;
    letter-spacing: 1px;
}

h1{
    font-size: 65px;
    text-align: center;
}

#quote{
    font-style: italic;

}

.para{
    font-size: 25px;
    color: blue;

}